.navbar {
    position: fixed;
    left: 150px;
    top: 0;
    height: 100vh;
    width: 214px;
    overflow-y: auto;
}

.navbar-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.navbar-top span {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    font-size: 23px;
    color: white;
}

.navbar-down {
    display: flex;
    margin-top: 6rem;
    gap: 0.1rem;
    align-items: center;
}

.navbar-down svg {
    color: white;
    margin-left: 2.5rem;
}

.navbar-down img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.navbar-down span p:first-of-type {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar-down span p:last-of-type {
    color: rgb(134, 134, 134);
}